<section id="explain-section">
	<header class="header">
		<h2>Explain</h2>
		<button id="explain-section-close-button">
			<svg class="icon-light"><use href="#x-icon"></use></svg>
		</button>
		<button id="explain-section-open-button">
			<svg class="icon-light"><use href="#carat-up-icon"></use></svg>
		</button>
	</header>
	<div id="explain">
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
		<div style="padding: 24px">asdf</div>
	</div>
</section>
