#pattern-section > .header {
	background: var(--accent);
}

#pattern-editor-parent {
	height: 62px;
	width: 100%;
}

#pattern-editor-parent > .cm-editor {
	height: 100%;
	padding: 1rem 0 0 1rem;
	outline: none;
}

#pattern-editor-parent .cm-content {
	font-family: var(--font-mono);
	font-size: 16px;
	font-weight: bold;
}

.question-mark-decoration {
	color: var(--gray-4);
}

.syntax-string {
	color: var(--orange);
}

.syntax-escape {
	color: var(--yellow);
}

.syntax-number {
	color: var(--blue);
}
