#sidebar {
	background-color: var(--gray-1);
	flex-shrink: 0;
	color: var(--gray-6);
	box-shadow: rgba(0, 0, 0, 0.45) 1px 2px 8px 0px;
	width: 25%;
	min-width: 350px;
	max-width: 450px;
	overflow: hidden;
	transition:
		width 0.3s,
		min-width 0.3s;
}
#sidebar.collapsed {
	width: 56px;
	min-width: 0;
}

#sidebar > header {
	height: 46px;
	border-bottom: solid 1px var(--gray-2);
	display: flex;
	align-items: center;
}

#sidebar > header > h2 {
	color: var(--gray-7);
	font-size: 16px;
	margin: 0;
	font-weight: bold;
	flex-grow: 1;
	user-select: none;
	transition:
		opacity 0.2s,
		visibility 0.2s;
	height: min-content;
}
#sidebar.collapsed > header > h2 {
	visibility: hidden;
	opacity: 0;
}

#sidebar-header-menu-button {
	width: 56px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	flex-shrink: 0;
}

#sidebar-header-x-button {
	width: 44px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	transition:
		opacity 0.2s,
		visibility 0.2s;
}

#sidebar.collapsed #sidebar-header-x-button {
	visibility: hidden;
	opacity: 0;
}

#sidebar-content {
	padding: 16px;
	transition:
		opacity 0.2s,
		visibility 0.2s;
}
#sidebar.collapsed > #sidebar-content {
	visibility: hidden;
	opacity: 0;
}
