@import './header/header.css';
@import './sidebar/sidebar.css';

:root {
	font-family: 'Roboto Condensed', sans-serif;

	--gray-0: #101112;
	--gray-1: #282b2d;
	--gray-2: #3a3e41;
	--gray-3: #595f64;

	--gray-5: #b7bcc0;
	--gray-6: #d7dadc;
	--gray-7: #f0f1f2;

	--accent: #c386daff;
}

body {
	margin: 0;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

#page {
	flex-grow: 1;
	background-color: var(--gray-7);
	display: flex;
}

#page-content {
	flex-grow: 1;
}

.header {
	height: 40px;
}

#pattern-section > .header {
	background: var(--accent);
}

svg {
	stroke-linecap: round;
	stroke-linejoin: round;
	flex-shrink: 0;
}

button {
	border: none;
	cursor: pointer;
}

a {
	cursor: pointer;
}
