@import './views/header/header.css';
@import './views/patternsection/patternsection.css';
@import './views/sidebar/sidebar.css';

:root {
	--font-sans: 'Roboto Condensed', sans-serif;
	--font-mono: 'Source Code Pro', monospace;

	--gray-0: #101112;
	--gray-1: #282b2d;
	--gray-2: #3a3e41;
	--gray-3: #595f64;
	--gray-4: #959ca1;
	--gray-5: #b7bcc0;
	--gray-6: #d7dadc;
	--gray-7: #f0f1f2;

	--accent: #c386da;

	--orange: #de7309;
	--light-orange: #f2ebb3;
	--yellow: #e0a910;
	--green: #029e16;
	--light-green: #ddf1e0;
	--blue: #1b91f2;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	color: var(--gray-0);
	margin: 0;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

#page {
	flex-grow: 1;
	background-color: var(--gray-7);
	display: flex;
}

#page-content {
	flex-grow: 1;
	overflow: hidden;
	width: 100%;
}

#page-content > section {
	overflow: hidden;
	width: 100%;
}

.header {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	background: var(--gray-5);
}

.header > h2 {
	font-size: 16px;
	margin: 0;
	font-weight: bold;
}

svg {
	stroke-linecap: round;
	stroke-linejoin: round;
	flex-shrink: 0;
}

button {
	border: none;
	cursor: pointer;
}

a {
	cursor: pointer;
}
